/* PAGE COLORS SECTION */
:root {
  --bg-main: #ffa07a;
  --bg_dark: #0a1f44;
  --bg_med: #53627c;
  --bg_light: #808080;
  --text_light: #fff;
  --text_bright: #ff0000;
}

/* GRID COMPONENTS SECTION */
.grid-container {
  background: var(--bg-main);
  justify-content: center;
  display: flex;
  grid-column-gap: 0px;
  height: 100vh;
  padding: 0 40px 0 0px;
}

.heading {
  color: var(--text_light);
  font-family: "Rimouski";
  font-weight: bolder;
  text-align: center;
  border: 2px solid var(--bg_light);
  border-radius: 10px;
  background: var(--bg_light);
  padding: 2px;
  margin: 5px 0px 0 45px;
  width: 220px;
}

.griditem1 {
  background: var(--bg_light);
  margin: 10px;
}

/* DISPLAY SECTION */
.display {
  font-family: "Rimouski";
  color: var(--text_light);
  width: 290px;
  height: 250px;
}

.word {
  font-size: 90px;
}

.pos {
  font-size: 40px;
  color: var(--bg_dark);
}

.meaning {
  font-size: 20px;
  padding-bottom: 4px;
}

.offensives {
  color: var(--text_bright);
  font-size: 18px;
  padding-bottom: 2px;
}

.synonym {
  font-size: 18px;
}

/* INPUT SECTION */
.input {
  margin-top: 20px;
}

input[type="submit"] {
  color: var(--text_light);
  cursor: pointer;
  padding: 8px 15px;
  background: var(--bg_dark);
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 45px;
  outline: none;
}

input[type="text"] {
  color: var(--text_light);
  width: 200px;
  height: 40px;
  padding: 20px 10px;
  background: inherit;
  border: solid 2px var(--bg_light);
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  margin: 10px 0px 0 45px;
}

.button:hover {
  color: var(--bg_dark);
  background: var(--text_light);
}

input::placeholder {
  color: var(--text_light);
  word-spacing: 5px;
}

/* PICTURE LAYOUT SECTION */
.container1 {
  padding: 20px 0px 20px 0px;
  display: grid;
  grid-template: repeat(9, 51px) / repeat(1, 53px);
  gap: 10px;
}

.box1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* MEDIA QUERIES - Common Styles*/
@media screen and (min-width: 768px) {
  .grid-container {
    justify-content: center;
  }

  header {
    height: 110px;
  }

  .heading {
    padding: 10px;
    width: 420px;
    margin-top: 55px;
  }

  .display {
    width: 420px;
    height: 300px;
  }

  input[type="text"] {
    width: 400px;
    padding: 25px 10px;
    margin-top: 30px;
  }

  input[type="submit"] {
    padding: 15px 30px;
    margin: 10px 45px;
  }

  .container1 {
    padding-top: 55px;
  }

  .input {
    margin-top: 50px;
  }
}

/* MEDIA QUERIES - Picture grid layout */
@media screen and (min-width: 768px) {
  .container1 {
    grid-template: repeat(5, 100px) / repeat(2, 100px);
  }
}

@media screen and (min-width: 1024px) {
  .container1 {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
  }
  .box-one {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}
